<HTML>
    <head>
        <link rel="stylesheet" href="static/css/webtools.scss">
    </head>
    <body>
        <form action="" method="post">
            <br>
            <label for="event">Event Name</label>
            <input type="text" id=event name=event>
            
            <br>
            <label for="begin">Begin</label>
            <input type="datetime-local" id=begin name=begin>

            <br>
            <label for="end">End</label>
            <input type="datetime-local" id=end name=end>

            <br>
            <label for="tzid">Time Zone</label>
            <input type="text" id=tzid name=tzid>

            <br>
            <label for="description">Description</label>
            <input type="text" id=description name=description>

            <br>
            <label for="location">Location</label>
            <input type="text" id=location name=location>

            <br>
            <label for="url">URL</label>
            <input type="text" id=url name=url>

            <br>
            <label for="organizer">Organizer</label>
            <input type="text" id=organizer name=organizer>

            <br>
            <input type="submit" id=submit name=submit value="Generate ICS">
        </form>
    </body>
</HTML
