<html>
    <head>
        <link rel="stylesheet" href="static/css/webtools.scss">
        <script src="static/js/timer.js"></script> 
    </head>
    <body>
        <div class="wrapper">
            <h1>Toastmasters Stopwatch</h1>
            <!-- https://aphasiaacc.memberclicks.net/assets/toastmasters_first_10_speeches%20%281%29.pdf -->
            <select id="duration">
                <option value="1:00,1:30,2:00">1-2 minutes</option>
                <option value="2:00,2:30,3:00">2-3 minutes</option>
                <option value="4:00,5:00,6:00">4-6 minutes</option>
                <option value="5:00,6:00,7:00">5-7 minutes</option>
                <option value="8:00,9:00,10:00">8-10 minutes</option>
            </select>
            <p><span>Green: </span><span id="greentime">00:00</span> <span>Yellow:</span> <span id="yellowtime">00:00</span> <span>Red:</span> <span id="redtime">00:00</span></p>
            <p><span id="minutes" style="font-size: 2em;">00</span><span style="font-size: 2em;">:</span><span id="seconds" style="font-size: 2em;">00</span></p>
            <button id="button-start">Start</button>
            <button id="button-reset">Reset</button>
        </div>
    </body>
</html>
